@model IEnumerable<Diss.ViewModels.EventView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var e in Model)
{
    <a href="@Url.Action("Chat", "Events", new { eventId = e.ID })">@e.Name</a>
}